[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "==23.3.0"
datasette-block-robots = "==1.1"
datasette-cluster-map = "==0.17.2"
datasette-dashboards = {editable = true, path = ".", extras = ["test"]}
datasette-publish-vercel = "==0.14.2"
datasette-vega = "==0.6.2"
exceptiongroup = {version = "==1.1.1", markers = "python_version < '3.11'"}
flake8 = "==6.0.0"
importlib-metadata = "==6.3.0"
mypy = "==1.2.0"
pytest-cov = "==4.0.0"
tomli = {version = "==2.0.1", markers = "python_version < '3.11'"}
