[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasette = "*"

[dev-packages]
black = "~=20.8b1"
datasette-cluster-map = "*"
datasette-dashboards = {editable = true, path = "."}
datasette-publish-vercel = "*"
datasette-vega = "*"
faker = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
sqlite-utils = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
